body {
    color:black;
    font-family: "Inter" !important;
    font-size: 18px;
    line-height: auto;
}

.map {
    position: relative;
    overflow: hidden;
}

.location {
    width: 300px;
}

.location input {
    width: 300px;
    font-size: 18px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    margin-bottom: 10px;
    border-color: black;
    border-radius: 0;
}

button {
    width: 300px;
    font-family: "Inter";
    font-size: 18px;
    line-height: auto;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #355FCA;
    border: none;
}

.weather {
    width: 280px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #B5E1DE;
    padding: 20px 10px;
}

.weather div {
    position: relative;
    margin: auto;
}

.temperature {
    font-size: 30px;
    line-height: auto;
    font-weight: 500;
    margin: 0;
}

.wind {
    margin: 0;
}